<div class="container">
  <section class="portfolio">
    <div class="col-12-12">
      <div class="col-4-12">
        <a href='http://www.lytening.co/' class="hover-title">Lytening</a>
        <%= image_tag 'lytening.png', class:"image" %>
      </div>
      <div class="col-4-12">
        <a href='https://powderpioneer.mybluemix.net' class="hover-title">Powder Pioneer</a>
        <%= image_tag 'powderpioneer.png', class:"image" %>
      </div>
      <div class="col-4-12">
        <a href='https://soundcrowdapp.herokuapp.com/' class="hover-title">SoundCrowd</a>
        <%= image_tag 'Soundcrowd.png', class:"image" %>
      </div>
    </div>
    <div class="col-12-12">
      <div class="col-4-12">
        <a href='http://united-stats.herokuapp.com/' class="hover-title">United Stats</a>
        <%= image_tag 'unitedstats.png', class:"image" %>
      </div>
      <div class="col-4-12">
        <a href='http://soul-games.herokuapp.com/' class="hover-title">Soul Games</a>
        <%= image_tag 'soulgames.png', class:"image" %>
      </div>
      <div class="col-4-12">
        <a href='https://murmuring-coast-1140.herokuapp.com/' class="hover-title">gCamp</a>
        <%= image_tag 'gcamp.png', class:"image" %>
      </div>
    </div>
  </section>

  <section class="skills">
    <h1>Skills</h1>
    <ul>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>Ruby</li>
      <li>Rails</li>
      <li>SQL</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Capybara</li>
      <li>Rspec</li>
      <li>git</li>
    </ul>
  </section>

  <section class="Resume">
    <a href="#"><img src="" alt="" /></a>
  </section>

  <section class="About">

  </section>
</div>
