<div class="container">
  <div class="col-3-12">A</div>
  <div class="col-6-12">
    <div class="col-4-12">
      <%= image_tag 'Soundcrowd.png', class:"image" %>
    </div>
    <div class="col-4-12">
      <%= image_tag 'soundcrowd2.png', class:"image" %>
    </div>
    <div class="col-4-12">
      <%= image_tag 'unitedstats.png', class:"image" %>
    </div>
  </div>
  <div class="col-3-12">A</div>

  <div class="col-3-12">A</div>
  <div class="col-6-12">
    <div class="col-4-12">
      <%= image_tag 'unitedstats2.png', class:"image" %>
    </div>
    <div class="col-4-12">
      <%= image_tag 'geo-back-4.jpg', class:"image" %>
    </div>
    <div class="col-4-12">
      <%= image_tag 'unitedstats.png', class:"image" %>
    </div>
  </div>
  <div class="col-3-12">A</div>
</div>
