<!DOCTYPE html>
<html>
<head>
  <title>Robert Jake Marwil</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="mobile">
    <nav>
      <div class="header">
        <ul>
          <li><%= link_to(image_tag("rjm.png"), root_path, class:'brand') %></li>
        </ul>
      </div>
    </nav>

    <section>

      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </section>
  </div>

</body>
</html>
